<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title or site.title }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

</head>

<body>

  {% include "partials/header.njk" %}

  <main class="container">
    {{ content | safe }}
  </main>

</body>
</html>