---
layout: layouts/base.njk
---

<section class="hero">

  <h2>
    Archives des témoins
  </h2>

  <p>
    Fragments de mémoire recueillis après la Révolution.
  </p>

</section>

<section id="temoignages">

  <h2>Témoignages</h2>

  <div class="cards">

    {% for temoignages in collections.temoignages %}
      <article class="card">

        <h3>
  <a href="{{ temoignages.url | url }}">{{ temoignages.data.temoignageDe }}</a>
</h3>

        <p>{{ temoignages.data.surnom }}</p>

        <small>{{ temoignages.data.faction }}</small>

      </article>
    {% endfor %}

  </div>

</section>
