---
layout: layouts/base.njk
---

<section class="hero">

  <h2>
    Archives des témoins
  </h2>

  <p>
    Fragments de mémoire recueillis après la Révolution.
  </p>

</section>

<section id="temoignages">

  <h2>Témoignages</h2>

  <div class="cards">

    {% set collectionName = "temoignages_" + lang %}
    {% for item in collections[collectionName] %}
      <article class="card">

        <h3>
  <a href="{{ item.url | url }}">{{ item.data.temoignageDe }}</a>
</h3>

        <p>{{ item.data.surnom }}</p>

        <small>{{ item.data.faction }}</small>

      </article>
    {% endfor %}

  </div>>

</section>
